
  input {
    display: block;
    box-sizing: border-box;
    width: 90%;
    border-radius: 4px; 
    padding: 10px 15px;
    margin-bottom: 10px;
    font-size: 14px;
  }
  
  label {
    /* line-height: 2; */
    /* text-align: left; */
    padding: 10px 15px;
    display: block;
    font-size: 14px;
    font-weight: 600;
  }
  
  button[type="submit"],
  input[type="submit"] {
    background: #e6fbff;
   
    text-transform: uppercase;
    border: none;
    font-size: 16px;
    font-weight: 100;
    letter-spacing: 10px;
  }
  
  button[type="submit"]:hover,
  input[type="submit"]:hover {
    background: #02a8de;
  }
  
  button[type="submit"]:active,
  input[type="button"]:active,
  input[type="submit"]:active {
    transition: 0.3s all;
    transform: translateY(3px);
    border: 1px solid transparent;
    opacity: 0.8;
  }
  
  input:disabled {
    opacity: 0.4;
  }
  
  input[type="button"]:hover {
    transition: 0.3s all;
  }
  
  button[type="submit"],
  input[type="button"],
  input[type="submit"] {
    -webkit-appearance: none;
  }
  
 
  
 
  
  
  
 
  